.page-title {
    text-align: center;
    margin-bottom: 2rem;
    color: black;
}

.logo {
    max-width:100px;
}

.main-container {
    @extend .container;
    @extend .mt-4;
    @extend .mb-5;
    @extend .px-4;
}

.main-container-fluid {
    @extend .container-fluid;
    @extend .mt-4;
    @extend .mb-5;
    @extend .px-4;
}

table.dataTable thead .sorting_desc {
    &:after {
        opacity: 1.0 !important;
    }
}

table.dataTable thead .sorting_asc {
    &:before {
        opacity: 1.0 !important;
    }
}

// For margin-right on bootstrap-icons
.bi-margin-right {
    &:before {
        @extend .me-2;
    }
}

.mai-table-stripped {
    @extend .table;
    @extend .table-striped;

    thead {
        @extend .bg-primary;
        @extend .text-white;
    }
}

.mai-table {
    @extend .table;

    td {
        @extend .px-3;
        @extend .py-2;
        white-space: nowrap;
    }

    thead tr th {
        background-color: $gray-300;
        @extend .text-uppercase;
    }
}

.filter-multi-select {
    .placeholder {
        background-color: white;
    }

    .viewbar>.selected-items>.item {
        height: 100%;
    }
}

.mai-modal {
    @extend .modal;

    .modal-dialog {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10040;
        overflow: auto;
        overflow-y: auto;
        height: 100vh;
        margin: 0;
        width: 50%;

        .modal-content {
            height: 100%;

            .modal-body {
                background-color: $gray-200;
            }
        }
    }
}

.dtrg-level-0 {
    @extend .table-dark;
}

.dtrg-level-1 {
    @extend .table-primary;
}