.idea
venv
__pycache__
node_modules
mag360/.env
apps/common/dist/
apps/common/src/vendor-css/
apps/common/src/vendor-js/
apps/django_bi/dist/
apps/django_bi/src/vendor-css/
apps/django_bi/src/vendor-js/
debug.log
db.json
db.sqlite3