django
django-crispy-forms
django-comments-xtd
django-contrib-comments
django-environ
django-extensions
pandas
django-pandas
python-dateutil
numpy
plotly
openpyxl
requests
crispy_bootstrap5
django_widget_tweaks
psycopg2