{% load static %}

<!--For dal/dal2/auto-complete light to work, you need to include the following scripts and stylesheets in your HTML template:-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
<link rel="stylesheet" href="{% static 'autocomplete_light/select2.css' %}">
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.full.min.js"></script>
<script src="{% static 'autocomplete_light/autocomplete_light.min.js' %}"></script>
<script src="{% static 'autocomplete_light/select2.min.js' %}"></script>
