{% extends "base.html" %}

{% block content %}
  <h1>{{ layout.name }}</h1>
  <p>
    {% if can_edit %}
      <a href="{% url 'layout_add_block' username=layout.user.username slug=layout.slug %}">Add block</a>
      |
      <a href="{% url 'layout_edit' username=layout.user.username slug=layout.slug %}">Edit layout</a>
      |
    {% endif %}
    <a href="{% url 'layout_list' %}">All layouts</a>
    |
    <a href="{% url 'layout_filter_config' username=layout.user.username slug=layout.slug %}">Filters</a>
    {% if can_delete %}
      |
      <a href="{% url 'layout_delete' username=layout.user.username slug=layout.slug %}">Delete</a>
    {% endif %}
  </p>

  <div class="row g-3">
    {% for b in blocks %}
      <div class="col-{{ b.col }}">
        {{ b.html|safe }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
