{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container mt-5 mb-5 px-4">
    <h1 class="page-title">Forgot your password?</h1>

    <div class="row">
      <div class="mx-auto col-12 col-md-8 col-lg-6">
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="POST">
          {% csrf_token %}
          {{ form.email.errors }}
          {{ form.email|add_class:'form-control'|append_attr:"placeholder:Email"}}

          <button type="submit" class="btn btn-outline-success mt-2">Send me instructions!</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}