<div class="card">
  <div class="card-header">Labor Summary</div>
  <div class="card-body p-0">
    <table class="table table-striped table-bordered mb-0">
      <thead>
        <tr>
          <th>Labor</th>
          <th>Date 1</th>
          <th>Date 2</th>
          <th>...</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            <td>{{ row.labor }}</td>
            <td>{{ row.d1 }}</td>
            <td>{{ row.d2 }}</td>
            <td>...</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
