<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>MAI</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:wght@100&family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    {% load static %}
    <script src="{% static 'cdn.min.js' %}" defer></script>
    <script src="{% static 'vendor.min.js' %}"></script>
<!--    UNCOMMENT BELOW LINE LATER-->
<!--    <script src="{% static 'script.min.js' %}"></script>-->
    <link rel="stylesheet" href="{% static 'bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.min.css' %}">

       <!-- Parsley (deferred so it initializes after the DOM) -->
    <script src="https://cdn.jsdelivr.net/npm/just-validate@latest/dist/just-validate.production.min.js" defer></script>

        <!-- Optional: override Parsley to use Bootstrap classes -->
    <script defer>
      window.ParsleyConfig = {
        errorsWrapper: '<ul class="invalid-feedback list-unstyled"></ul>',
        errorTemplate: '<li></li>',
        errorClass:  'is-invalid',
        successClass: 'is-valid'
      };
    </script>
  </head>

  <body>
    <header class="d-flex justify-content-center bg-dark px-3 py-1 justify-content-between">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--  Menu Container -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'layout_list' %}">Layouts</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock %}

    {%block scripts%}{%endblock scripts%}

    <footer class="bg-dark p-4">
      <p class="text-center">
        <small class="text-white">Mecaer America Inc.</small>
      </p>
    </footer>
  </body>
</html>