{% extends "base.html" %}

{% block content %}
<div class="main-container">
  <h1 class="page-title">Customize Views for '{{title}}' page</h1>

  {% include "components\instructions.html" with id="custom-instructions" instructions=instructions %}

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

  <div class="mx-auto" style="max-width: 500px;">
    <div class="d-flex align-items-center justify-content-between">
      <!-- Config Selector -->
      <form method="get">
        <div class="input-group">
          <label class="input-group-text" for="configSelect">Saved View</label>
          <select
            id="configSelect"
            name="config"
            class="form-select"
            onchange="this.form.submit()"
          >
            <option value="">— New View —</option>
            {% for cfg in user_configs %}
              <option
                value="{{ cfg.id }}"
                {% if cfg.id == selected_config_id %}selected{% endif %}
              >{{ cfg.name }}</option>
            {% endfor %}
          </select>
        </div>
      </form>

      <!-- Delete Button -->
      {% if selected_config_id %}
        <form
          method="post"
          action="{% url 'delete_column_config' table_name=table_name config_id=selected_config_id %}"
          onsubmit="return confirm('Are you sure you want to delete this view?');"
          class="mb-0 ms-4"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash-fill"></i>
            Delete
          </button>
        </form>
      {% endif %}
    </div>

    <hr>

    <div class="row">
      <div class="col-12">
         <!-- Save Form -->
      <form id="viewForm" method="post" class="mt-5" novalidate>
      {% csrf_token %}
      {% if selected_config_id %}
        <input type="hidden" name="config_id" value="{{ selected_config_id }}">
      {% endif %}

   <div class="row mb-3">
    <label for="inputName" class="col-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="inputName"
        name="name"
        value="{% for cfg in user_configs %}{% if cfg.id == selected_config_id %}{{ cfg.name }}{% endif %}{% endfor %}"
      />
      <!-- Just-validate will inject a <div class="invalid-feedback"> here when needed -->
    </div>
  </div>


      <div id="field-list"  class="list-group">
        {% for field in all_fields %}
          {% if not field.mandatory %}
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" name="field_order[]" value="{{ field.name }}" {{ field.name }} {% if field.name in selected_fields %}checked{% endif %}>
              {{ field.label }}
            </label>
          {% else %}
            <label class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" checked disabled>{{ field.label }} <em>(mandatory)</em>
              <input type="hidden" name="field_order[]" value="{{ field.name }}">
            </label>
          {% endif %}
        {% endfor %}
      </div>

      <div class="my-3">
        <input class="form-check-input" type="checkbox" name="is_default" id="flexCheckDefault" {% for cfg in user_configs %}{% if cfg.id == selected_config_id and cfg.is_default %}checked{% endif %}{% endfor %}>
        <label class="form-check-label" for="flexCheckDefault">Set as default</label>
      </div>

      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
  </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    new Sortable(document.getElementById('field-list'), {
      animation: 150
    });

    document.addEventListener('DOMContentLoaded', function() {
      const validation = new JustValidate('#viewForm', {
        errorFieldCssClass: 'is-invalid',
        errorLabelCssClass: 'invalid-feedback',
      });

      validation
        .addField('#inputName', [
          {
            rule: 'required',
            errorMessage: 'Please enter a name for this view.'
          }
        ])
        .onSuccess((event) => {
          // only submits if all rules pass
          event.target.submit();
        });
    });
  </script>
{% endblock %}
